.week-granularity {
  width: fit-content;

  .item-wrap {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  .title {
    font-weight: 500;
    margin-bottom: 8px;
  }

  .desc {
    margin-bottom: 14px;
    color: var(--neutral-1100);
  }

  .value {
    color: var(--neutral-1800);
    font-weight: 500;
    font-size: 14px;
  }

  .item {
    border: 1px solid var(--neutral-400);
    border-radius: 4px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: #fff;
    white-space: nowrap;

    &:hover {
      border-color: transparent;
      background-color: var(--neutral-150);
      border: 1px solid var(--neutral-400);
    }

    &[data-active="true"] {
      background-color: var(--neutral-150);
      color: var(--brand-600);
    }
  }

  .content {
    padding: 14px 16px;
  }

  .action-wrap {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--neutral-300);

    .confirm {
      margin-left: 10px;
    }
  }
}