.datetime-btn {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-auto-flow: column;
  padding-left: 10px;
  padding-right: 10px;
  user-select: auto;
  color: var(--neutral-1800);

  &:hover {
    color: inherit !important;
  }
}