.nc-days {
  table {
    border-spacing: 0 2px;
  }
}
.rdt {
  position: relative;
}

.nc-picker {
  min-width: 200px;
  display: none;
  position: absolute;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 12px;

  tr {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  td {
    padding: 2px;
    cursor: pointer;
  }

  td,
  th {
    text-align: center;
    height: 24px;
    width: 35px;
    box-sizing: border-box;
  }

  .nc-time-toggle {
    text-align: center;
  }

  .nc-switch {
    width: 100px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background: var(--neutral-300);
    }
  }
}

.nc-open .nc-picker {
  display: block;
}

.nc-static .nc-picker {
  box-shadow: none;
  position: static;
}

.nc-picker .nc-picker table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
}

.nc-picker td.nc-day:hover,
.nc-picker td.nc-hour:hover,
.nc-picker td.nc-minute:hover,
.nc-picker td.nc-seconds:hover,
.nc-picker .nc-time-toggle:hover {
  background: var(--neutral-300);
  cursor: pointer;
}

.nc-picker td.nc-after,
.nc-picker td.nc-before {
  color: var(--neutral-700);
}

.nc-picker td.nc-today {
  position: relative;
}

.nc-picker td.in-range {
  background-color: var(--neutral-300);
  &:hover {
    background-color: var(--neutral-300);
  }
}

.nc-picker td.nc-sibling {
  background-color: var(--brand-200);
  color: #fff;
  &:hover {
    background-color: var(--brand-200);
    color: #fff;
  }
}

.nc-picker td.nc-today:before {
  content: "";
  display: inline-block;
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--brand-600);
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.nc-picker td.nc-active,
.nc-picker td.nc-active:hover {
  background-color: var(--brand-600);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nc-picker .dow,
.nc-picker td.nc-disabled,
.nc-picker td.nc-disabled:hover {
  background: none;
  color: #d3d3d3;
  cursor: not-allowed;
}

.nc-picker td span.nc-disabled,
.nc-picker td span.nc-disabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.nc-picker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}

.nc-picker th.nc-next,
.nc-picker th.nc-prev {
  font-size: 18px;
  vertical-align: top;
  &:hover {
    background: var(--neutral-300);
  }
}

.nc-prev span,
.nc-next span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.nc-picker th.nc-disabled,
.nc-picker th.nc-disabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.nc-picker thead tr:first-of-type th {
  cursor: pointer;
}

// .nc-picker thead tr:first-of-type th:hover {
//   background: var(--gray-50);
// }

.nc-picker tfoot {
  border-top: 1px solid #f9f9f9;
}

.nc-picker button {
  border: none;
  background: none;
  cursor: pointer;
}

.nc-picker button:hover {
  background-color: #eee;
}

.nc-picker thead button {
  width: 100%;
  height: 100%;
}

td.nc-month,
td.nc-year {
  height: 50px;
  width: 25%;
  padding: 10px;
  cursor: pointer;
}

td.nc-month:hover,
td.nc-year:hover {
  background: #eee;
}

.nc-counters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nc-counters > div {
  float: left;
}

.nc-counter {
  width: 40px;
}

.nc-counterseparator {
  line-height: 100px;
}

.nc-counter .nc-btn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.nc-counter .nc-btn:hover {
  background: #eee;
}

.nc-counter .nc-count {
  height: 40px;
  font-size: 16px;
  line-height: 40px;
}

.nc-milli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.nc-milli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.nc-time td {
  cursor: default;
}
