:root {
  --gray-50: #f4f4f4;
  --gray-100: #e3e4e5;
  --gray-200: rgb(126, 127, 128);
  --gray-300: #7e7f80;
}

.datetime-container {
  box-sizing: border-box;

  .datetime-header {
    padding: 8px 14px;
    border-bottom: 1px solid var(--gray-100);

    .title {
      color: var(--gray-300);
    }

    .value {
      font-weight: 500;
      color: var(--neutral-1800);
    }

    .time-range {
      color: var(--gray-300);
      margin-left: 4px;
    }
  }

  .content-container {
    display: grid;
    grid-auto-flow: column;

    .quick-selection {
      background-color: #f3f3f5;
      padding: 16px;
      width: 186px;
      box-sizing: border-box;

      .simple {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        grid-gap: 10px;
        align-content: flex-start;
        margin-bottom: 14px;
      }

      .range {
        border-top: 1px solid var(--gray-100);
        padding-top: 14px;

        .quick-item {
          margin-bottom: 10px;
        }
      }

      .quick-item {
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 4px;
        transition: 0.25s ease all;
        font-size: 12px;
        cursor: pointer;

        &:hover,
        &[data-selected="true"] {
          color: #fff;
          background-color: var(--brand-600);
        }
      }
    }

    .date-range-selection {
      width: 546px;
      overflow: hidden;
      box-sizing: border-box;
    }

    .main {
      display: grid;
      height: 354px;
      box-sizing: border-box;
      padding: 16px 12px 0;
      grid-gap: 22px;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;

      .input-wrap {
        position: relative;
        margin-top: 14px;
        margin-bottom: 14px;

        .time-ago {
          margin-left: 15px;
        }

        .arrow-right {
          cursor: default;
          position: absolute;
          left: -28px;
          top: 10px;
          color: var(--gray-200);
        }
      }
    }

    .footer {
      border-top: 1px solid var(--gray-100);
      display: grid;
      gap: 10px;
      grid-auto-flow: column;
      justify-content: flex-end;
      padding: 12px 16px;
      line-height: 32px;
      position: relative;
    }
  }
}
